@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Noto Sans', sans-serif;
}

.bg {
  background-image: url(../src/assets/bgimg.jpg);
}

.content {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.inpat {
  background-color: rgba(23, 23, 23, 0.7);
}
.separation{
  background-color: rgb(45, 45, 45);
}
.bg2{
  background-color: rgb(45, 45, 45);
  transition: all 0.1s ease-out;
  
}
.bg2:hover{
  background-color:rgb(60, 60, 60) ;
}
.bg3{
  background-color: rgb(45, 45, 45);
}